<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gabamnml.keynote.remote</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>gabamnml</string>
	<key>description</key>
	<string>Manage your presentations in Keynote with Remote</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Keynote Remote Control</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>http://garamburu.com</string>
</dict>
</plist>
